<div class="container" *ngIf="question">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ question.description}}</h5>
        <div class="text-muted mb-3">
          Asked by {{ question.postedBy.name }} on {{ question.postedAt | date: 'medium' }}
        </div>
        <div class="mb-3">
          Tags: <span *ngFor="let tag of question.tags" class="badge badge-secondary">{{ tag.name }}</span>
        </div>
        <hr>
        <div *ngFor="let answer of question.answers" class="mb-3">
          <div>{{ answer.description }}</div>
          <div class="text-muted mt-2">
            Answered by {{ answer.authorName }} on {{ answer.updatedAt || answer.postedAt | date: 'medium' }}
          </div>
          <hr>
        </div>
        <div class="mt-3">
          <h6>Your Answer</h6>
          <quill-editor placeholder="Write your answer here..." [(ngModel)]="answer" ></quill-editor>
          <button class="btn btn-primary btn-sm mt-2" (click)="submitAnswer()">Post Your Answer</button>
        </div>
      </div>
    </div>
  </div>