.nav{
    width: 100%;
    background-color: #fefefe;
    border-bottom: 1px solid #dee2e6; 
    height: 50px;
    margin: 0%!important;
    padding: 0% 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    
}

.nav h1{
    font-size: 1.4rem;
}

.search-container{
    margin-left: 17%;
    display: inline-flex;
}
.nav input{
    border-radius: 0%;
    border: 1px solid rgb(116, 116, 116);
    width: 30vw;
}
.nav input::placeholder{
    font-size: 12px;
}
.nav button{
  border-radius: 0%;
  padding: 1px 3px;
  font-size: 12px;
}