<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
  <h2 class="py-4 text-center" > Login </h2>
    <div  *ngIf="loginForm.controls['email'].hasError('email')" class="alert alert-danger">
        Please enter a valid email address
      </div>
      <div  *ngIf="errorMsg" class="alert alert-danger">
        {{errorMsg}}
      </div>
    <div class="form-group mt-4">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email" required>
        
      </div>
      
      <div class="form-group mt-4">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password" required>
      </div>
      <button type="submit" class="btn btn-primary mt-4 w-100" [disabled]="loginForm.invalid">Login</button>
      <p class="mt-2" >Not having an account? <a routerLink="/signup"> Signup</a></p>
</form>
