.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20vw;
    padding: 20px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
  }
  
  .sidebar ul {
    padding-left: 0;
    list-style: none;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    display: block;
    padding: 4px;
    border-radius: 5px;
    color: #343a40;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    background-color: #ccc;
  }